{% import "/partials/macros/components.j2" as components with context %}
<footer class="footer">
  <div class="footer__lower">
    {{ components.links.link(globals.footer.title) }}
    <nav class="footer__nav">
      {% for item in globals.footer.ctas %}
        {{ components.links.link(item) }}
      {% endfor %}
      {% if doc.locales|length > 1 %}
      <div class="footer__language__wrapper">
        <select onchange="window.location.href = this.value" class="footer__language">
          {% for locale in doc.locales %}
          <option {% if doc.locale==locale %} selected{% endif %}
            value="{{g.doc(doc.pod_path, locale=locale).url.path}}">
            {{locale.get_display_name(locale)}} {% endfor %}
        </select>
      </div>
      {% endif %}
    </nav>
  </div>
</footer>
