---
layout: null
title: The Stuhm Bl'ahn Inn
description: A Los Angeles based D&D group takes their new campaign online. Some new faces to the D&D realm and some veterans; this group is full of actors, story tellers, and artists - all ready for adventure and ready to make you laugh!
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">
    {% include fb.html %}

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<img src="/images/logo.png" class="intro-logo" />
						<h2>A livestream D&D adventure</h2>
						<br />
						<br />
						<br />
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>Live, Streaming, D&D</h2>
									<p>Join us twice a month for an adventure that follows 4 unique characters
                    as they try to solve, fight, and dig their way out of situations
                    the DM throws at them. Watch us live on our
                    <a href="https://twitch.tv/TheStuhmBlahnInn" target="_blank"><b>Twitch</b></a>
                    page every 1st and 3rd Saturday of the month at 4pm PST.
									</p><p>
                    Missed the live show? It re-airs Friday after it was live on our
                    <a href="https://facebook.com/The-Stuhm-Blahn-Inn-606927729751212" target="_blank"><b>Facebook</b></a>, and
                    <a href="https://youtube.com/channel/UCBxan9UWJ0tNtKYlBjCcn_Q" target="_blank"><b>YouTube</b></a> channels.
                    All of our past episodes can be found both platforms!
                  </p>
								</header>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:2 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">View now</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
