{% set territory = doc.locale.territory.lower() %}
{% set language = doc.locale.language.lower() %}
{% set locale = doc.locale %}
{% set id = doc.id.lower() %}
{% set cacheBust = env.fingerprint %}

{% set globals = g.doc('/content/globals.yaml') %}
<!DOCTYPE html>
  <head>

    <meta charset="utf-8">
    {% if podspec.meta.google_site_verification %}
    <meta name="google-site-verification" content="{{podspec.meta.google_site_verification}}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>
      {{podspec.title}}
    </title>
    {% if podspec.meta.image %}
      <meta property="og:image" content="{{g.static(podspec.meta.image).url}}">
    {% endif %}
    {% if podspec.meta.touch.76 %}
    <link href="{{g.static(podspec.meta.touch.76).url.path}}" rel="apple-touch-icon" sizes="76x76">
    {% endif %}
    {% if podspec.meta.touch.76 %}
    <link href="{{g.static(podspec.meta.touch.120).url.path}}" rel="apple-touch-icon" sizes="120x120">
    {% endif %}
    {% if podspec.meta.touch.76 %}
    <link href="{{g.static(podspec.meta.touch.152).url.path}}" rel="apple-touch-icon" sizes="152x152">
    {% endif %}
    {% if podspec.meta.touch.76 %}
    <link href="{{g.static(podspec.meta.touch.180).url.path}}" rel="apple-touch-icon" sizes="180x180">
    {% endif %}
    {% if podspec.meta.touch.120 %}
    <link href="{{g.static(podspec.meta.touch.android120).url.path}}" rel="icon" sizes="120x120">
    {% endif %}
    {% if podspec.meta.touch.180 %}
    <link href="{{g.static(podspec.meta.touch.android180).url.path}}" rel="icon" sizes="180x180">
    {% endif %}
    <meta property="og:title" content="{{podspec.title}}">
    <meta property="og:site_name" content="{{podspec.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{doc.url}}">
    {% if doc.description %}
    <meta name="description" content="{{_(doc.description)}}">
    <meta property="og:description" content="{{_(doc.description)}}">
    {% endif %}
    {% if podspec.meta.favicon_path %}
    <link rel="shortcut icon" href="{{g.static(podspec.meta.favicon_path).url.path}}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    {% if podspec.meta.google_analytics_id %}
    <script src="https://www.google.com/js/gweb/analytics/autotrack.js"></script>
    <script>
      window.ga = new gweb.analytics.AutoTrack({
        profile: '{{podspec.meta.google_analytics_id}}',
        cookiePath: '/'
      });
    </script>
    {% endif %}
    {% set compositeCssFiles = [doc.view|replace('.html', '')] %}
    {% set compositeCssFiles = compositeCssFiles + (doc.composite_files if doc.composite_files else []) %}
    {% for compositeCssFile in compositeCssFiles %}
      {% if not compositeCssFile.startswith('/') %}
        {% set compositeCssFile = '/' ~ compositeCssFile %}
      {% endif %}
      {% set viewCssFile = '/dist/css/composite' ~ compositeCssFile ~ '.min.css' %}
      {% if doc.pod.file_exists(viewCssFile) %}
    <link href="{{ g.static(viewCssFile).url.path }}?cacheBust={{ cacheBust }}" rel="stylesheet">
      {% endif %}
    {% endfor %}
  </head>
  <body>
    {% include "/partials/header/header.html" %}
    <main class="main">
      {% include "/views/partials.html" %}
      {% include "/partials/footer/footer.html" %}
    </main>
    {% set compositeJsFiles = [doc.view|replace('.html', '')] %}
    {% set compositeJsFiles = compositeJsFiles + (doc.composite_files if doc.composite_files else []) %}
    {% for compositeJsFile in compositeJsFiles %}
      {% if not compositeJsFile.startswith('/') %}
        {% set compositeJsFile = '/' ~ compositeJsFile %}
      {% endif %}
      {% set viewJsFile = '/dist/js/composite' ~ compositeJsFile ~ '.min.js' %}
      {% if doc.pod.file_exists(viewJsFile) %}
    <script src="{{ g.static(viewJsFile).url.path }}?cacheBust={{ cacheBust }}"></script>
      {% endif %}
    {% endfor %}

    <script src="https://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>

  </body>
</html>
