{% import "/partials/macros/components.j2" as components with context %}
{% set globals = g.doc('/content/globals.yaml') %}
<header class="header">
  <nav class="header-nav">
    <div class="header-hamburger">
      <input type="checkbox" />
      <span class="header-hamburger__bar"></span>
      <span class="header-hamburger__bar"></span>
      <span class="header-hamburger__bar"></span>
    </div>
    {{ components.links.link(globals.header.title) }}

    <ul class="header-nav__items desktop">
      {%- for item in globals.nav -%}
        <li id="header-nav__items__item"
          class="{% if item.subnav %}has-subnav{% endif %}
          {% if item.slug == doc.id|lower %} active-page{% endif %}">
          {{components.links.link(item)}}
        </li>
      {%- endfor -%}
    </ul>
  </nav>

  <div class="header-side-menu">
    <div class="header-side-menu__logo--container">
      {% if globals.header.logo %}
        <div class="header__logo header-side-menu__logo">
          {{components.links.link(globals.header.logo)}}
        </div>
      {% else %}
        {{ components.links.link(globals.header.title) }}
      {% endif %}
    </div>

    <ul class="header-nav__items mobile">
      {%- for item in globals.nav -%}
        <li id="header-nav__items__item"
          class="{% if item.subnav %}has-subnav{% endif %}
          {% if item.slug == doc.id|lower %} active-page{% endif %}">
          {{components.links.link(item)}}
        </li>
      {%- endfor -%}
    </ul>

    <div class="header-side__logo">
      <div class="header-nav__cta">
        {{ components.links.link(globals.header.cta) }}
      </div>
    </div>
  </div>
</header>
