@import './_utils.scss';
@import './_config.scss';
@import './_components.scss';

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-family;
  font-weight: 400;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

a {
  color: $color-text;
  text-decoration: none;
}

.main {
  padding-top: $header-height-s;
  position: relative;
  width: 100%;

  @include respond-up($md) {
    padding-top: $header-height;
  }

  &.is-open--sidemenu {
    &:after {
      animation: fade-in .4s easeOutSine;
      background-color: rgba(0, 0, 0, .4);
      content: '';
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: -$header-height-s;
      width: 100%;
    }
  }
}

h1,
.h1 {
  color: $color-text;
  font-family: $font-family;
  font-size: $fs-h1;
  font-weight: 300;
  letter-spacing: -.5px;
  line-height: 1.18;
  margin: 0;
  text-align: center;

  @include respond-down($md) {
    font-size: $fs-h2;
    letter-spacing: normal;
  }
  @include respond-down($sm) {
    font-size: $fs-h3;
    line-height: 1.33;
  }
}

h2,
.h2 {
  color: $color-text;
  font-family: $font-family;
  font-size: $fs-h2;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -.5px;
  line-height: 1.18;
  margin: 0;
  text-align: center;

  @include respond-down($md) {
    font-size: $fs-h3;
    line-height: 1.33;
  }
  @include respond-down($sm) {
    font-size: $fs-h3-m;
    letter-spacing: normal;
  }
}

h3,
.h3 {
  color: $color-text;
  font-family: $font-family-secondary;
  font-size: $fs-h3;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.25;
  margin: 60px 0 60px 0;
  text-align: center;

  @include respond-down($md) {
    font-size: $fs-h3-m;
  }
  @include respond-down($sm) {
    font-size: $fs-h4-m;
  }
}

h4 {
  color: $color-text;
  font-family: $font-family;
  font-size: $fs-h4;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.36;
  margin: 20px 0;
  text-align: center;

  @include respond-down($sm) {
    h4 {
      line-height: 1.63;
    }
  }
}

li,
p {
  color: $color-text;
  font-family: $font-family;
  font-size: $fs-p;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
  margin: 0;
  text-align: center;

  @include respond-down($sm) {
    font-size: $fs-p-m;
    line-height: 1.71;
  }
}

.cta {
  @include flex(center, true);

  .icon {
    height: 22px;
    margin-left: 10px;
    width: 16px;
  }
}

.cols {
  flex-direction: column-reverse;

  @include flex(center, true);
  @include respond-up ($md) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .col-left,
  .col-right {
    flex-direction: column;
    width: 100%;

    @include flex(center, true);
    @include respond-up($md) {
      width: 50%;
    }
  }

  .flush-left {
    @include respond-up($md) {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .flush-right {
    @include respond-up($md) {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}

img {
  max-width: 100%;
}

picture {
  display: block;

  img {
    width: 100%;
  }
}

figure {
  figcaption {
    font-size: $fs-desc;
    margin-top: 1em;
    text-align: center;
  }
}

.standard-image {
  display: block;
  margin: auto;
}

.responsive-image-demo {
  display: block;
  margin: auto;
  max-width: 516px;
  position: relative;
  width: 100%;
}
