// Left Field Labs UI Framework for Google Projects

$lui-black: #000;
$lui-white: #fff;
$lui-white-shade: #efefef;

//Sensible Defaults
html {
  font-family: Helvetica, Arial, sans-serif;
}

html,
body,
div,
span,
iframe,
dl,
dt,
dd,
ol,
ul,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

//Overlay Base
.lui-overlay {
  background: rgba($lui-black, .8);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.lui-overlay
.overlay-dialog {
  height: 100%;
  position: relative;
}

.lui-overlay
.content {
  background: $lui-white;
  height: 100%;
  overflow: auto;
  width: 100%;
}

@media (max-width: 768px) {
  .lui-overlay .overlay-dialog {
    left: 0;
    margin: 10px;
    top: 0;
    width: auto;
  }
}

//Carousel Base
.lui-carousel-content {
  background: $lui-white-shade;
  height: 300px;
  width: 400px;
}
